:root {
    --content-width: 1440px;
}

body {
    background-color: gray;
    /* Mostly used font family*/
    font-family: 'Roboto';
}

/*{{{ Header ***/

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    background-color: #FFFFFF;

    width: var(--content-width);
    margin: 50px auto 0 auto;

    height: 72px;
    padding-left: 156px;

    /* border: 2px solid orange; */
}

.logo {
    font-family: 'Raleway';
    font-style: ExtraBold;
    font-size: 18px;
    line-height: 24px;

    /* border: 2px dotted red; */
}

.logo-prefix{
    color: #4D5AE5;
}

.logo-text {
    color: #2E2F42;
}

.logo > a {
    text-decoration: none;
    color: inherit;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-style: medium;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    
    /* border: 2px dotted red; */
}

/* Show <a> for Logo as usual text */
.menu-nav > a {
    color: inherit;
    text-decoration: none;
}

.menu-nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 76px;
}

.menu-nav > ul > li {
    margin-right: 40px;
    list-style-type: none;
}

.menu-nav > ul > li > a {
    color: inherit;
    text-decoration: none;
}

.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 192px;

    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    
    /* border: 2px dotted red; */
}

.contacts > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.contacts > ul > li {
    margin-right: 40px;
    list-style-type: none;
}

.contacts ul > li > a {
    color: inherit;
    text-decoration: none;
}
/*}}} End Header ***/

/*{{{ Main ***/
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #FFFFFF;

    width: var(--content-width);
    margin: 0 auto 0 auto;

    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.main-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #2E2F42;
}

.main-promo > h1 {
    font-style: bold;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    width: 496px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;

    /* border: 2px solid yellow; */
}

.main-promo > button {
    margin-top: 48px;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    width: 196px;
    height: 56px;
    border-color: #4D5AE5;
}

.main-features {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1128px;
    margin: 56px 120px;
    line-height: 24px;

    /* border: 2px solid greenyellow; */
}

/* --- Features ======================================================== */

.main-features h2 {
    font-style: bold;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    display: none;
}

.main-features > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 1128px; */
    /* border: 2px solid greenyellow; */
}

.main-features > ul > li {
    list-style-type: none;
    width: 264px;
    margin-right: 24px;
}

.main-features > ul > li > h3 {
    margin: 0;
    font-style: bold;
    font-size: 20px;
    color: #2E2F42;
}

.main-features > ul > li > p {
    margin: 8px 0 0 0;
    font-style: normal;
    font-size: 16px;
    color: #434455;
}

/* --- Doing =========================================================== */

.main-doing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 1128px;
    margin: 56px 0 120px 0;

    /* border: 2px solid greenyellow; */
}

.main-doing > h2 {
    margin: 0 auto 0 auto;
    font-style: bold;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
}

.main-doing > ul {
    margin: 72px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.main-doing > ul > li {
    list-style-type: none;
    /* width: 264px; */
    margin-right: 24px;
}

.main-doing > ul > li > img {
    width: 360px;
    height: 300px;
}

/* --- Team ============================================================ */

.main-team {
    display: flex;
    flex-direction: column;
    background-color: #F4F4FD;
    width: 100%;
    margin: 0;
    padding: 120px 0 0 0;

    /* border: 2px solid greenyellow; */
}

.main-team > h2 {
    margin: 0 auto 0 auto;
    font-style: bold;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
}

.main-team > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 72px 0 120px 0;
    padding: 0;

    /* border: 2px solid yellow; */
}

.main-team > ul > li {
    list-style-type: none;
    margin-right: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.main-team > ul > li > img {
    width: inherit;
}

.main-team > ul > li > h3 {
    margin: 32px 0 0 0;
    font-style: bold;
    font-size: 20px;
    color: #2E2F42;
}

.main-team > ul > li > p {
    margin: 8px 0 32px 0;
    font-style: normal;
    font-size: 16px;
    color: #434455;
}
/*}}} End Main ***/

/*{{{ Footer ***/
.footer {
    display: flex;
    flex-direction: column;
    background-color: #2E2F42;
    width: var(--content-width);
    margin: 0 auto 50px auto;
    padding: 100px 0 100px 156px;
}

.footer > a {
    text-decoration: none;
    color: inherit;
}

.footer > p {
    margin: 16px 0 0 0;
    width: 264px;
    color: #E7E9FC;
    line-height: 128%;    
}
/*}}} End Footer ***/